{{block "title" .}}Browsing {{.Collection.Title}}{{end}}

{{block "content" .}}
  <h1>Browsing {{.Collection.Title}}</h1>

  <div>
    {{range .Collection.Collections}}
    <div style="display: inline-block; width: 30%; height: 240px; padding: 0.5em;">
      <a href="{{BasePath}}/index/{{.ID}}">
        <p>Browse {{.Title}}</p>
      </a>
    </div>
    {{end}}
  </div>

  <div>
    {{range .Collection.JP2s}}
    <div style="display: inline-block; width: 30%; height: 240px; padding: 0.5em;">
      <a href="{{BasePath}}/asset/{{.ID}}">
        <img src="{{BasePath}}/iiif/{{.ID}}/full/,240/0/default.jpg" height="240px" border=0 />
        <p>{{.Title}}</p>
      </a>
    </div>
    {{end}}
  </div>
{{end}}
